* {
	margin: 0;
	padding: 0;
}

:root{
	--headerBgColor: rgb(0,0,0);
	--headerTxtColor: rgb(255,255,255);
	--bgColor: rgb(255,255,255);
	--txtColor: rgb(0,0,0);
	--footerBgColor: rgb(0,0,0);
	--footerTxtColor: rgb(255,255,255);
	--visitedLinkColor: rgb(230,12,83);
	--LinkColor: rgb(255,255,255);
	--flagColor: rgb(210,183,66);
	--font-body-family: "Roboto Condensed", san-serif;
}

html{
	font-size:100%;
	font-family:var(--font-body-family);
	line-height: 1.5mm;
	margin:auto;
	background-image:url("../images/bg.png");
}

header{
	background-color: var(--headerBgColor);
	Color:var(--headerTxtColor);
	text-align:center;
	padding: 1mm;
}
nav{
	
}
main{
	background-color: var(--BgColor);
	Color:var(--TxtColor);
}
footer{
	background-color: var(--footerBgColor);
	Color:var(--footerTxtColor);
}