*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: 'Poppins';
    src: url('../Progetto/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Rubik Mono One';
    src: url('../Progetto/Rubik_Mono_One/RubikMonoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

:root{  
    --gray: rgb(184,184,184);
}


html{
    font-size: 100%;
    line-height: 1.5em;
    margin: auto;
}

body {
    font-family: 'Poppins', sans-serif;

}

header h1{
    text-indent: -999em;
    background-image: url("../Progetto/Immagini/Sito/events_logo_chat_white.png");
    font-size: 4em;
    line-height: 1.5em;
    background-size:20%;
    background-position: center;
    background-repeat: no-repeat;
}

hr {
    border: none;
    height: 3px;
    background-color: var(--gray);
    width: 95%;
    margin-left: 2.5%;
}

#navbar{
    display: flex;
    flex-direction: row;
    padding: 1em 1em 1em 2em;
}
#navbar #menu{
    font-family: 'Rubik Mono One', sans-serif;
}
#search-input {
    background-color: var(--gray);
    color: #FFFFFF; /* Colore del testo */
    padding: 10px; /* Aggiungi spaziatura interna se necessario */
    border: none;
    border-radius: 10px;
    width: 25%;
    height: auto;
}
input[type="text"]::placeholder {
    color: #fff;
}

#cerca{
    background-color: var(--gray);
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-image: url(../Progetto/Immagini/Sito/filter-icon-white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    text-indent: -9999px;
    margin-left: 0.5em;
}


#navbar #menu {
    display: inline-block;
    text-align: left;
    font-family: 'Rubik Mono One', sans-serif;
    width:60%;
  }

#menu ul{
    padding:1em;
    list-style-type: none;
    margin-left: 3em;
}

#menu ul li {
    display: inline-block;
    white-space: nowrap;
    margin-right: 3em;
}

a:link {
    color: #000000;
    text-decoration: underline;
  }

a:hover, a:focus {
    color: var(--gray);
}
#breadcrumb{
    padding: 0.75em 0 0 2em;
    font-family: 'Poppins', sans-serif;
}
#breadcrumb p{
    max-width: 1024px;
}

#aggiungiEvento{
    display: inline;
    background-color: var(--gray);
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-image: url(../Progetto/Immagini/Sito/add_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    text-indent: -9999px;
    margin-left: 0.5em;
}

#notifiche{
    display: inline;
    background-color: var(--gray);
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-image: url(../Progetto/Immagini/Sito/bell_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    text-indent: -9999px;
    margin-left: 0.5em;
}

#profilo{
    display: inline;
    background-color: var(--gray);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url(../Progetto/Immagini/Sito/andrew_garfield.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-indent: -9999px;
    margin-left: 0.5em;
}

#menuTendina{
    display: none;
}

#menuleft {
    float: left;
    width: 25%;
    overflow: hidden;
}

#menuleft button{
    
    background-color: #fff;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        border:none;
        width:100%;
        height: 4em;
        font-size: 20px;
        text-align: left;
        font-family: 'Poppins', sans-serif;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        padding-left: 1em;
        border: 1px solid #000;
}

#menuleft #buttonprofilo{
    background-color: var(--gray);
}

#menuleft ul li button:hover,#menuleft button:focus {
    background-color: #f0f0f0;
}

#menuleft ul{
    padding: 2em 0 0 0;
}
#menuleft ul li{
    margin-top: 1%;
}

main {
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 2em;
}

#profile-info-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#immagineProfilo {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 1em;
}

#descrizioneProfilo {
    list-style: none;
    padding: 0;
    margin: 0;
}

#descrizioneProfilo li {
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}

#NomeCompleto {
    font-size: 25px;
}

#Amici {
    color: #3f3f3f;
}

#box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
}
#profile-info-container{
    order: 1;
}


form {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 20px;
    order: 2;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
#image-container {
    border: 2px dashed #ccc;
    max-width: 100%;
    height: 200px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.drag-drop-text {
    text-align: center;
}

img {
    border: 2px dashed #ccc;
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group > div {
    width: 48%;
}

textarea {
    width: 100%;
    height: 80px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: none;
}

#invia {
    background-color: var(--gray);
    color: #000;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    padding:1.0em;
    text-align: center;
    margin-top: auto;
    position:static;
    bottom: 0;
  }

@media (max-width: 600px) {
    header h1{
        font-size: 2em;
        line-height:  1em;
        text-indent: -999em;
        padding: 1em 0 0 0;
        background-image: url("../Progetto/Immagini/Sito/events_logo_chat_white.png");
        background-size:30%;
        background-position: center;
        background-repeat: no-repeat;
    }
    #navbar{
        text-align: center;
    }
    input[type="text"] {
        width: 40%;
    }
    
    #registrati{
        display: inline;
        background-color: var(--gray);
        cursor: pointer;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-image: url(../Progetto/Immagini/Sito/add_white.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        text-indent: -9999px;
        margin-left: 0.5em;
    }
    
    #profilo{
        display: inline;
        background-color: var(--gray);
        cursor: pointer;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-image: url(../Progetto/Immagini/Sito/andrew_garfield.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        text-indent: -9999px;
        margin-left: 0.5em;
    }
    
    #menu ul{
        display: none;
    }
    #breadcrumb{
        padding: 0.75em 0 0 2em;
        font-family: 'Poppins', sans-serif;
    }
    #breadcrumb p{
        max-width: 1024px;
        text-align:center;
    }
    #menuleft{
        display: none;
    }
    #box{
        width: 90%;
        margin-left: 5%;
    }

    #aggiungiEvento{
        display: none;
    }

    #menuTendina{
        display: inline;
        background-color: var(--gray);
        cursor: pointer;
        width: 36px;
        height: 36px;
        border-radius:100%;
        background-image: url(../Progetto/Immagini/Sito/battery-1_icon-icons.com_64865.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        text-indent: -9999px;
        margin-left: 0.5em;
    }
}