header h1{
    text-indent: -999em;
    background-image: url("/Users/macuser/Desktop/sito-web/Images/eventsLogoRid.png");
    font-size: 4em;
    line-height: 1.5em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

html{
    font-size: 100%;
    line-height: 1.5em;
    margin: auto;
}

hr {
  border: none;
  height: 3px;
  background-color: rgb(184,184,184);
}

div img{
	border-radius: 10px 10px 0 0;
	width:100%;
	height:60%;
}

#posizione{
    padding: 1em;
}

#posizione p{
    max-width: 1024px;
    margin:auto;
}

.column{
	float: left;
	width: 25%;
	padding-left:4.15%;
	padding-right:4.15%;
	padding-bottom:2%;
}

.container{
	border-radius: 3% 3% 3% 3%;
	background-color: rgb(184,184,184);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: left;
	line-height:1%;
	height: 30%;
}

.container:hover {
  transform: scale(1.2);
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

.GCard{
	font-weight:bold;
	font-size:20px;
}