header {
    margin-top: -35px;
    position:relative;
  }
  
  .header-items {
    display: flex;
    justify-content: space-between;
  }
  
  nav[aria-label="breadcrumb"] {
    position: absolute;
    width: 100%; /* Assicura che la breadcrumb si estenda per tutta la larghezza dell'header */
    bottom: -50px;
    font-size: small;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }
  
  header .bottoneHamburger {
    border-radius: 50%; /* Rendi il bottone rotondo */
    width: 30px; /* Imposta la larghezza desiderata per il bottone */
    height: 30px; /* Imposta l'altezza desiderata per il bottone */
    overflow: hidden; /* Assicura che l'immagine si adatti al bordo rotondo */
    border: none;
    display: none;
    margin-left: 0.5vw;
  }
  
  .bottoneHamburger img {
    padding-top: 5px;
    width: 70%; /* Assicura che l'immagine si adatti al bottone */
    height: auto; /* Imposta l'altezza automatica per mantenere le proporzioni */
    border: none; /* Rimuove il bordo dell'immagine */
    object-fit: cover;
  }
  
  header h1{
    text-indent: -999em;
    background-image: url("/Users/macuser/Desktop/sito-web/Images/eventsLogoRid.png");
    font-size: 4em;
    line-height: 1.5em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
  }
  
  ul.linkPagina {
    display: flex; /* Usiamo flexbox per mantenere gli elementi sulla stessa riga */
    list-style: none; /* Rimuove i punti elenco */
    padding: 0; 
  }
  
  ul.linkPagina li {
    white-space: nowrap; /* Impedisce il wrap dell'elemento */
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1vw;
    margin-right: 10px; 
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }
  
  #EventiFuturi{
    text-align: center; /* Centra il link orizzontalmente */
    color: rgb(0, 0, 0); /* Colore specifico */
    text-decoration: underline;
    padding-right: 2.0%;
  }
  
  #EventiFuturi:hover {
    text-decoration: none; /* Rimuove la sottolineatura al passaggio sopra */
  }
   
  #ChiSiamoLink{
    text-align: center; /* Centra il link orizzontalmente */
    color: rgb(0, 0, 0); /* Colore specifico */
    text-decoration: underline;
    padding-right: 2.0%;
  }
  
  #ChiSiamoLink:hover {
    text-decoration: none; /* Rimuove la sottolineatura al passaggio sopra */
  }
  
  #AccediLink{
    text-align: center; /* Centra il link orizzontalmente */
    color: rgb(0, 0, 0); /* Colore specifico */
    text-decoration: underline;
    padding-right: 2.0%;
  }
  
  #AccediLink:hover {
    text-decoration: none; /* Rimuove la sottolineatura al passaggio sopra */
  }
   
  #RegistratiLink{
    text-align: center; /* Centra il link orizzontalmente */
    color: rgb(0, 0, 0); /* Colore specifico */
    text-decoration: underline;
  }
  
  #RegistratiLink:hover {
    text-decoration: none; /* Rimuove la sottolineatura al passaggio sopra */
  }
  
  input[type="text" ] #searchBarRegistrati {
    border: none; /* Rimuove il bordo */
    border-bottom: 1px solid black; /* Aggiunge una linea inferiore */
    background-color: transparent; /* Sfondo trasparente */
    padding: 5px; /* Spazio interno per migliorare la leggibilità */
    outline: none; /* Rimuove il bordo quando l'input è in focus */
    width:30%;
  }
  
  #searchBarRegistrati {
    width: 404px;
    height: 39px;
    left: 48px;
    top: 144px;
    background: #f4f4f4;
    mix-blend-mode: normal;
    border-radius: 10px;
    border: none;
    text-indent: 10px;
    font-family: 'Poppins', sans-serif;
    margin-right:1vw;
    transition: width 1s ease-in-out;
  }
  
  #searchBarRegistrati::placeholder {
    color: rgb(111, 111, 111); 
  }
  
  .bottoneFiltro {
    border-radius: 50%; /* Rendi il bottone rotondo */
    width: 40px; /* Imposta la larghezza desiderata per il bottone */
    height: 40px; /* Imposta l'altezza desiderata per il bottone */
    overflow: hidden; /* Assicura che l'immagine si adatti al bordo rotondo */
    border: none;
  }
  
  .bottoneFiltro img {
    padding-top: 5px;
    width: 80%; /* Assicura che l'immagine si adatti al bottone */
    height: auto; /* Imposta l'altezza automatica per mantenere le proporzioni */
    border: none; /* Rimuove il bordo dell'immagine */
    object-fit: cover; /* Fai in modo che l'immagine copra completamente l'area del bottone */
  }
  
  
  
  #searchButtonRegistrati {
    border-radius: 50%; /* Rendi il bottone rotondo */
    width: 40px; /* Imposta la larghezza desiderata per il bottone */
    height: 40px; /* Imposta l'altezza desiderata per il bottone */
    overflow: hidden; /* Assicura che l'immagine si adatti al bordo rotondo */
    border: none;
  }
  
  
  #searchButtonRegistrati img{
    padding-top: 5px;
    width: 90%; /* Assicura che l'immagine si adatti al bottone */
    height: auto; /* Imposta l'altezza automatica per mantenere le proporzioni */
    border: none; /* Rimuove il bordo dell'immagine */
    object-fit: cover; /* Fai in modo che l'immagine copra completamente l'area del bottone */
  }
  
  #searchButtonRegistrati, .bottoneFiltro, .bottoneHamburger {
    position: relative;
    margin-left: -1.5vw;
    margin-bottom: 1vh;
    transition: width 0.3s ease, height 0.3s ease;
    transition: margin-top 0.5s ease, width 0.5s ease, height 0.5s ease; 
  }
  
  .bottoneFiltro{
      margin-left:0.1vw;
  }
  
  nav[aria-label="breadcrumb"] {
    padding-left: 1vw;
    font-family: Poppins, sans-serif;
    margin-top: -10px;
  }
  
  #returnHome{
    color: black;
    text-decoration: underline;
  }
  
  #returnHome:hover{
    text-decoration: none;
  }
  
  .image-container-ragComp {
    /* Imposta l'immagine di default */
    background-image: url('/Users/macuser/Desktop/sito-web/Images/person2.webp');
    /* Imposta altre proprietà necessarie per visualizzare correttamente l'immagine di sfondo */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* Imposta l'altezza e la larghezza dell'elemento per visualizzare l'immagine di sfondo */
    height: 200px; /* Modifica secondo le tue esigenze */
    width: 200px;  /* Modifica secondo le tue esigenze */
  }
  
  div #pannello-principale{
    position: relative;
    align-self: center;
  }
  
  #pannello-principale {
    display: flex;
    justify-content: center;
    width: 80%; /* Puoi modificare questa percentuale in base alle tue esigenze */
    margin: 0 auto;
    padding-top: 5vw;
  }
  
  .image-container-ragComp img{
      width: 20vw;
      height: auto;
  }
  
  #infoNoAccount{
    font-family: Poppins, sans-serif;
  }
  
  #infoNoAccount #linkRegistrati{
    text-decoration: underline;
  }
  
  #infoNoAccount #linkRegistrati:hover{
    text-decoration: none;
  }
  
  #container-sinistro{
    padding-top: 13.5vh;
  }
  
   #registratiScritta{
    font-family: Poppins, sans-serif;
    width: 20%; 
    height: 6%; 
    left: 35%; 
    top: 15%; 
    font-weight: 600;
    font-size: 2.5em; 
  
    line-height: 1.2; 
  }
  
  #container-destro button {
    background: #656565;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 100%; 
    max-width: none;
    height:15%;
    padding-top: 2vh;
    font-family: Poppins, sans-serif;
    padding: 10px 0; 
    box-sizing: border-box; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  #container-destro button:hover {
    background-color: rgba(14, 31, 187, 1);
  }
  
  input[type="text"] {
    font-family: Poppins, sans-serif;
    border: none; /* Rimuove il bordo */
    border-bottom: 1px solid black; /* Aggiunge una linea inferiore */
    background-color: transparent; /* Sfondo trasparente */
    padding: 5px; /* Spazio interno per migliorare la leggibilità */
    outline: none; /* Rimuove il bordo quando l'input è in focus */
    width:100%;
  }
  
  input[type="password"] {
    font-family: Poppins, sans-serif;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    padding: 5px;
    outline: none;
    width: 100%;
  }
  
  /* Rimuove i bordi del focus sugli input di tipo text */
  input[type="text"]:focus {
    outline: none;
  }
  
  input[type="password"]:focus {
    outline: none;
  }
  
  #container-destro form {
    font-size:large;
  }
  
  #container-destro {
    padding-left: 2.5vw;
  }
  
  #container-destro form,
  #container-destro label,
  #container-destro button {
    margin-bottom: 15px; /* Aggiunge uno spazio di 15px tra i form, le label e il button */
  }
  
  #ricordamiLabel{
    font-family: Poppins, sans-serif;
  }
  
  @media screen and (max-width: 950px) {
    #searchButtonRegistrati {
      margin-top: 1vh;
      width: 30px; /* Modifica la larghezza */
      height: 30px; /* Modifica l'altezza */
    }
  
    .bottoneFiltro {
      margin-top: 1vh;
      width: 30px; /* Modifica la larghezza */
      height: 30px; /* Modifica l'altezza */
    }
  }
  
  @media screen and (max-width: 830px) {
      #searchBarRegistrati {
        width: 250px; /* Riduci la larghezza */
        height: 30px; /* Riduci l'altezza */
        transition: width 2s ease-in-out;
      }
  }
  
  @media screen and (max-width: 830px) {
    #searchBarRegistrati {
      width: 180px; /* Riduci la larghezza */
      height: 30px; /* Riduci l'altezza */
      transition: width 1s ease-in-out;
    }
  }
  
  @media screen and (max-width: 500px) {
  
    header h1{
      padding-top: 10px;
      background-size: 50%;
    }
  
  
    header {
      position: relative; /* Assicura che la breadcrumb sia posizionata rispetto all'header */
    }
    
    .header-items {
      margin-top: -30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .header-items button {
      width: calc(25% / 3); /* Divides the width of searchBarAccedi by three */
      height: auto; /* Adjusts the height automatically based on the content */
      margin: auto;
    }
  
    .header-items button .bottoneHamburger {
      width: calc(25% / 3); /* Divides the width of searchBarAccedi by three */
      height: auto; /* Adjusts the height automatically based on the content */
      margin: auto;
    }
  
    header::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      height: 3px;
      background-color: rgba(217, 217, 217, 1);
    }
  
    #searchButtonRegistrati {
      width: calc(25% / 3); /* Divides the width of searchBarAccedi by three */
      height: auto; /* Adjusts the height automatically based on the content */
      margin: auto; /* Centers the button horizontally and vertically */
    }
  
    header .bottoneHamburger, #searchButtonRegistrati,.bottoneFiltro, #searchBarRegistrati {
      display: inline-block; /* Makes all three elements inline */
      vertical-align: middle; /* Aligns them vertically in the middle */
    }
    
    nav[aria-label="breadcrumb"] {
      position: absolute;
      bottom: -50px; /* Regola la distanza verticale dalla parte inferiore dell'header */
      /* Altri stili per la breadcrumb */
    }
  
  
    #searchBarRegistrati {
      width: 220px; 
      max-width: 300px; 
      height: 35px; 
      left: unset; 
      top: unset; 
      position: relative; 
      margin-right: 0; 
      margin-left: auto; 
    }
  
    header .bottoneHamburger {
      display: block;
    }
  
    header .linkPagina{
      display: none;
    }
  
    .image-container-ragComp {
      /* Cambia l'immagine quando la larghezza dello schermo è inferiore a 600px */
      background-image: url('/Users/macuser/Desktop/sito-web/Images/people2.png');
      background-size: contain;
    }
  
    #pannello-principale {
      display: flex;
      flex-direction: column;
    }
  
    #container-destro {
      order: 1;
      margin-bottom: -70px;
    }
  
    #accediScritta{
      font-family: Poppins, sans-serif;
      width: 10%; 
      height: 6%; 
      left: 35%; 
      top: 15%; 
      font-weight: 600;
      font-size: 2.5em; 
      line-height: 1.2; 
      padding-top:4.5vh;
      margin-bottom:15px;
    }
  
    #container-sinistro {
      order: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: -30px;
    }
  }