header {
    margin-top: -15wh;
    position:relative;
}
  
.header-items {
    display: flex;
    justify-content: space-around;
}
  
nav[aria-label="breadcrumb"] {
    position: absolute;
    width: 100%; /* Assicura che la breadcrumb si estenda per tutta la larghezza dell'header */
    bottom: -5vh;
    font-size: small;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
  
header .bottoneHamburger {
    border-radius: 50%; /* Rendi il bottone rotondo */
    width: 30px; /* Imposta la larghezza desiderata per il bottone */
    height: 30px; /* Imposta l'altezza desiderata per il bottone */
    overflow: hidden; /* Assicura che l'immagine si adatti al bordo rotondo */
    border: none;
    display: none;
    margin-left: 0.5vw;
}
  
.bottoneHamburger img {
    padding-top: 5px;
    width: 70%; /* Assicura che l'immagine si adatti al bottone */
    height: auto; /* Imposta l'altezza automatica per mantenere le proporzioni */
    border: none; /* Rimuove il bordo dell'immagine */
    object-fit: cover;
}
  
header h1{
    text-indent: -999em;
    background-image: url("../Images/eventsLogoRid.png");
    font-size: 4em;
    line-height: 1.5em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
}
  
ul.linkPagina {
    display: flex; /* Usiamo flexbox per mantenere gli elementi sulla stessa riga */
    list-style: none; /* Rimuove i punti elenco */
    padding: 0; 
}
  
ul.linkPagina li {
    white-space: nowrap; /* Impedisce il wrap dell'elemento */
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    margin-right: 5vh; 
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
  
#EventiFuturi{
    text-align: center; /* Centra il link orizzontalmente */
    color: rgb(0, 0, 0); /* Colore specifico */
    text-decoration: underline;
    padding-right: 2.0%;
}
  
#EventiFuturi:hover {
    text-decoration: none; /* Rimuove la sottolineatura al passaggio sopra */
}
   
#ChiSiamoLink{
    text-align: center; /* Centra il link orizzontalmente */
    color: rgb(0, 0, 0); /* Colore specifico */
    text-decoration: underline;
    padding-right: 2.0%;
}
  
#ChiSiamoLink:hover {
    text-decoration: none; /* Rimuove la sottolineatura al passaggio sopra */
}
  
#AccediLink{
    text-align: center; /* Centra il link orizzontalmente */
    color: rgb(0, 0, 0); /* Colore specifico */
    text-decoration: underline;
    padding-right: 2.0%;
}

#AccediLink:hover {
    text-decoration: none; /* Rimuove la sottolineatura al passaggio sopra */
}
   
#RegistratiLink{
    text-align: center; /* Centra il link orizzontalmente */
    color: rgb(0, 0, 0); /* Colore specifico */
    text-decoration: underline;
}
  
#RegistratiLink:hover {
    text-decoration: none; /* Rimuove la sottolineatura al passaggio sopra */
}
  
/* AAAAAAAAAAAAAA - Modifica e.g. searchBarRegistrati, searchButtonRegistrati */
input[type="text" ] #searchBar {
    border: none; /* Rimuove il bordo */
    border-bottom: 1px solid black; /* Aggiunge una linea inferiore */
    background-color: transparent; /* Sfondo trasparente */
    padding: 5px; /* Spazio interno per migliorare la leggibilità */
    outline: none; /* Rimuove il bordo quando l'input è in focus */
    width:30%;
}
  
/* AAAAAAAAAAAAAA - Modifica e.g. searchBarRegistrati, searchButtonRegistrati */
#searchBar {
    width: 404px;
    height: 39px;
    left: 48px;
    top: 144px;
    background: #f4f4f4;
    mix-blend-mode: normal;
    border-radius: 10px;
    border: none;
    text-indent: 10px;
    font-family: 'Poppins', sans-serif;
    margin-right:1vw;
    transition: width 1s ease-in-out;
}

/* AAAAAAAAAAAAAA - Modifica e.g. searchBarRegistrati, searchButtonRegistrati */
#searchBar::placeholder {
    color: rgb(111, 111, 111); 
}
  
.bottoneFiltro {
    border-radius: 50%; /* Rendi il bottone rotondo */
    width: 40px; /* Imposta la larghezza desiderata per il bottone */
    height: 40px; /* Imposta l'altezza desiderata per il bottone */
    overflow: hidden; /* Assicura che l'immagine si adatti al bordo rotondo */
    border: none;
}
  
.bottoneFiltro img {
    padding-top: 5px;
    width: 80%; /* Assicura che l'immagine si adatti al bottone */
    height: auto; /* Imposta l'altezza automatica per mantenere le proporzioni */
    border: none; /* Rimuove il bordo dell'immagine */
    object-fit: cover; /* Fai in modo che l'immagine copra completamente l'area del bottone */
}

.bottonePlus{
    border-radius: 50%; /* Rendi il bottone rotondo */
    width: 40px; /* Imposta la larghezza desiderata per il bottone */
    height: 40px; /* Imposta l'altezza desiderata per il bottone */
    overflow: hidden; /* Assicura che l'immagine si adatti al bordo rotondo */
    border: none;
}

.bottonePlus img{
    padding-top: 5px;
    width: 80%; /* Assicura che l'immagine si adatti al bottone */
    height: auto; /* Imposta l'altezza automatica per mantenere le proporzioni */
    border: none; /* Rimuove il bordo dell'immagine */
    object-fit: cover;
}

.bottoneProfilo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Rendi il bottone rotondo */
    width: 2vw; /* Imposta la larghezza desiderata per il bottone */
    height: 2vw; /* Imposta l'altezza desiderata per il bottone */
    overflow: hidden; /* Assicura che l'immagine si adatti al bordo rotondo */
    border: none;
    position: relative; /* Per posizionare l'immagine all'interno del bottone */
    background-color: #ccc; /* Colore di sfondo per il bottone */
}

.bottoneProfilo img {
    position: absolute; /* Posiziona l'immagine sopra il bottone */
    width: 100%; /* Occupa tutto lo spazio disponibile nel bottone */
    height: 100%; /* Occupa tutto lo spazio disponibile nel bottone */
    border: none; /* Rimuove il bordo dell'immagine */
    object-fit: cover; /* Mantiene le proporzioni e taglia l'immagine */
    border-radius: 50%; /* Rendi l'immagine rotonda */
}
  
/* AAAAAAAAAAAAAA - Modifica e.g. searchBarRegistrati, searchButtonRegistrati */
#searchButton {
    border-radius: 50%; /* Rendi il bottone rotondo */
    width: 2vw; /* Imposta la larghezza desiderata per il bottone */
    height: 2vw; /* Imposta l'altezza desiderata per il bottone */
    overflow: hidden; /* Assicura che l'immagine si adatti al bordo rotondo */
    border: none;
}
  
/* AAAAAAAAAAAAAA - Modifica e.g. searchBarRegistrati, searchButtonRegistrati */
#searchButton img{
    padding-top: 5px;
    width: 70%; /* Assicura che l'immagine si adatti al bottone */
    height: auto; /* Imposta l'altezza automatica per mantenere le proporzioni */
    border: none; /* Rimuove il bordo dell'immagine */
    object-fit: cover; /* Fai in modo che l'immagine copra completamente l'area del bottone */
}
  
/* AAAAAAAAAAAAAA - Modifica e.g. searchBarRegistrati, searchButtonRegistrati */
#searchButton, .bottoneFiltro, .bottoneHamburger {
    position: relative;
    margin-left: -1.5vw;
    margin-bottom: 1vh;
    transition: width 0.3s ease, height 0.3s ease;
    transition: margin-top 0.5s ease, width 0.5s ease, height 0.5s ease; 
}

.bottoneFiltro{
    margin-left:0.1vw;
}
  
nav[aria-label="breadcrumb"] {
    padding-left: 1vw;
    font-family: Poppins, sans-serif;
    margin-top: -10px;
}
  
#returnHome, #returnProfilo{
    color: black;
    text-decoration: underline;
}
  
#returnHome:hover, #returnProfilo:hover{
    text-decoration: none;
}
    
input[type="text"] {
    font-family: Poppins, sans-serif;
    border: none; /* Rimuove il bordo */
    border-bottom: 1px solid black; /* Aggiunge una linea inferiore */
    background-color: transparent; /* Sfondo trasparente */
    padding: 5px; /* Spazio interno per migliorare la leggibilità */
    outline: none; /* Rimuove il bordo quando l'input è in focus */
    width:100%;
}
  

/* Rimuove i bordi del focus sugli input di tipo text */
input[type="text"]:focus {
    outline: none;
}

header::after {
    content: '';
    display: block;
    border-bottom: 1px solid #ccc;
    margin-top: 10px; /* Altezza della linea grigia */
}

/*----------------------------------HEADER---------------------------------------------------------------------*/

#menuleft {
    float: left;
    width: 25%;
    overflow: hidden;
}

#menuleft button{
    
    background-color: #fff;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        border:none;
        width:100%;
        height: 3em;
        font-size: 20px;
        text-align: left;
        font-family: 'Poppins', sans-serif;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        padding-left: 1em;
        border: 1px solid #000;
}

#menuleft #buttonRitornoProfilo{
    background-color: var(--gray);
}

#menuleft ul li button:hover,#menuleft button:focus {
    background-color: #f0f0f0;
}

#menuleft ul{
    padding: 2em 0 0 0;
}
#menuleft ul li{
    margin-top: 1%;
}

.menu-orizzontale{
    display: none;
}

#profile {
    float: right;
    width: 80%; /* Usa una larghezza relativa */
    padding: 3%; /* Utilizza padding relativo rispetto alla larghezza */
    padding-left: 10%;
    padding-right: 15%;
    margin-top: 1%; /* Margine superiore relativo */
    box-sizing: border-box;
    margin-top: -30vh;
}

#profile{
    font-family: Inter, sans-serif;
    align-content: center;
    display: flex;
    flex-direction: column; /* Imposta la direzione a riga */
    justify-content: center; /* Allinea i bottoni al centro lungo l'asse orizzontale */
    align-items: center;
}

#info{
    align-content: center;
    display: flex;
    flex-direction: row; /* Imposta la direzione a riga */
    justify-content: center; /* Allinea i bottoni al centro lungo l'asse orizzontale */
    align-items: center;
}

#nomiVari-ev{
    align-content: center;
    display: flex;
    flex-direction: column; /* Imposta la direzione a riga */
    justify-content: center; /* Allinea i bottoni al centro lungo l'asse orizzontale */
    align-items: center;
}

#nomeUtente-ev{
    margin-top: -1.5vh;
}


.avatar {
    width: 100px; /* Regola la dimensione dell'immagine del profilo */
    height: 100px; /* Regola la dimensione dell'immagine del profilo */
    border-radius: 50%; /* Rende l'immagine del profilo circolare */
    margin-right: 20px; /* Aggiunge spazio tra l'immagine e le informazioni */
    object-fit: cover; /* Mantiene le proporzioni e taglia l'immagine se necessario */
}

#contButEvents-ev {
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 60px;
    padding-top: 30px;
    width: 100%;
    margin: 2vh auto;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
}

.button-container {
    margin-top: 20px; /* Aggiunto spazio tra i bottoni e gli elementi sopra */
}

#fraseEventiCreati{
    /*metto prima lo stile testuale per il fallback*/
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0); 
    padding-right: 25vw;

}


#creaEvento {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px; /* Dimensioni del bottone */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f0f0f0;
    background-image: url('../Images/add.png'); /* Immagine come sfondo */
    background-repeat: no-repeat;
    background-position: center; /* Centra l'immagine */
    background-size: 50%; /* Riduci le dimensioni dell'immagine di sfondo al 50% della grandezza del bottone */
    font-size: 18px; /* Dimensione del testo */
}

/* Effetto al passaggio del mouse per il bottone */
#creaEvento:hover {
    opacity: 0.8; /* Riduci leggermente l'opacità al passaggio del mouse */
}


.visually-hidden-eventiCreati {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.columnProfiloEv {
    float: left;
    width: 40%;
    padding-left: 2.03%;
    padding-right: 2.03%;
    padding-bottom: 2%;
}

.containerProfiloEv {
    border-radius: 3%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: left;
    width: 30vw; /* Imposta la larghezza in unità relative */
    height: 30vh; /* Imposta l'altezza in unità relative */
    max-width: 100%; /* Imposta la larghezza massima al 100% del contenitore genitore */
    max-height: 100%; 
    flex-grow: 1;
    flex: 0 1 calc(30% - 20px);
}

.containerProfiloEv:hover {
    transform: scale(1.1);
}

.rowProfiloEv:after {
    content: "";
    display: table;
    clear: both;
}

.GCard {
    display: block;
    font-weight: bold;
    font-size: 25px;
}

.descrizioneEventiT {
    margin-top: 2vh;
    padding-top: 2vh;
    font-style: bold;
    font-size: 1em;
    margin-bottom: 5vh;
}

.descrizioneEventiD {
    font-size: 1em;
    white-space: pre-wrap;
    line-height: 1.5em; /* Aggiunto line-height */
}

.container-immagini-eventi {
    background-image: url('../Images/mercati-palermo-anima-sicilia-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    border-radius: 3%;
}

.NomiLinkCreati{
    /*metto prima lo stile testuale per il fallback*/
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0); /* Colore specifico */
    text-decoration: underline;
}

.NomiLinkCreati:hover {
    text-decoration: none; /* Rimuove la sottolineatura al passaggio sopra */
}


#posizione {
    font-size: 20px;
    font-style: bold;
}

#posizione span {
    font-size: 20px;
    font-style: bold;
    color: red;
}


.infoText {
    padding-left: 1vh
}

/*----------------------------------------1700px-------------------------------------------------------------*/

@media screen and (max-width: 1700px) {
    /* AAAAAAAAAAAAAA - Modifica e.g. searchBarRegistrati, searchButtonRegistrati */
    #searchBar {
        width: 250px; /* Riduci la larghezza */
        height: 30px; /* Riduci l'altezza */
        transition: width 2s ease-in-out;
    }

    ul.linkPagina li {
        white-space: nowrap; /* Impedisce il wrap dell'elemento */
        font-family: 'Roboto', sans-serif;
        font-size: 0.8em;
        margin-right: 5vh; 
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    }
     
    .columnProfiloEv {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px); 
        flex-basis: calc(50% - 20px);
    }

    .descrizioneEventiT {
        font-size: 1.1em; /* Regola la dimensione del testo in modo da mantenerlo leggibile */
    }
    
    .descrizioneEventiD {
        font-size: 1.1em; /* Aumenta la dimensione del testo */
        overflow: hidden; /* Nasconde il testo che esce dalla carta */
        text-overflow: ellipsis; /* Aggiunge "..." per indicare che il testo è troncato */
        white-space: nowrap; /* Impedisce al testo di andare a capo */
    }

}




/*----------------------------------------950px-------------------------------------------------------------*/
@media screen and (max-width: 950px) {
    #searchButton {
        margin-top: 1vh;
        width: 30px; /* Modifica la larghezza */
        height: 30px; /* Modifica l'altezza */
    }
  
    .bottoneFiltro {
        margin-top: 1vh;
        width: 30px; /* Modifica la larghezza */
        height: 30px; /* Modifica l'altezza */
    }

    .container-immagini-eventi {
        max-width: 100%; /* Impedisce alle immagini di superare la larghezza della carta */
        height: auto; /* Regola l'altezza delle immagini in modo che si adattino proporzionalmente alla larghezza massima consentita */
    }
}
  

@media screen and (max-width: 900px) {
    /* AAAAAAAAAAAAAA - Modifica e.g. searchBarRegistrati, searchButtonRegistrati */
    #searchBar {
        width: 20vw; /* Riduci la larghezza */
        height: 3.75vh; /* Riduci l'altezza */
        transition: width 1s ease-in-out;
    }

    ul.linkPagina li {
        white-space: nowrap; /* Impedisce il wrap dell'elemento */
        font-family: 'Roboto', sans-serif;
        font-size: 0.8em;
        margin-right: 5vh; 
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .descrizioneEventiT {
        font-size: 1.3em; /* Regola la dimensione del testo in modo da mantenerlo leggibile */
    }

    .descrizioneEventiD {
        font-size: 1.1em; /* Aumenta la dimensione del testo */
        overflow: hidden; /* Nasconde il testo che esce dalla carta */
        text-overflow: ellipsis; /* Aggiunge "..." per indicare che il testo è troncato */
        white-space: nowrap; /* Impedisce al testo di andare a capo */
    }
      
}

@media screen and (max-width: 700px) {
    header h1{
        padding-top: 10px;
        background-size: 50%;
    }
  
    header {
        position: relative; /* Assicura che la breadcrumb sia posizionata rispetto all'header */
    }

    .wrapper {
        padding-top: 3vh;
        display: flex;
        flex-direction: column; /* Disponi gli elementi in colonna */
        align-items: center; /* Allinea gli elementi verticalmente al centro */
    }
    
    .header-items {
        margin-top: -0.7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  
    .header-items button,
    .header-items button .bottoneHamburger {
        width: 6vh; /* Divides the width of searchBarAccedi by three */
        height: 6vh; /* Set the height equal to the width to make it a circle */
        margin: auto;
        border-radius: 50%; /* Makes the button circular */
    }
      
    header::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1vh;
        height: 0.1vh;
        background-color: rgba(217, 217, 217, 1);
      }  
  
    /* AAAAAAAAAAAAAA - Modifica e.g. searchBarRegistrati, searchButtonRegistrati */
    #searchButton {
        width: 6vh; /* Divides the width of searchBarAccedi by three */
        height: 6vh; /* Adjusts the height automatically based on the content */
        margin: auto; /* Centers the button horizontally and vertically */
    }
  
    /* AAAAAAAAAAAAAA - Modifica e.g. searchBarRegistrati, searchButtonRegistrati */
    header .bottoneHamburger, #searchButton,.bottoneFiltro, #searchBar {
        display: inline-block; /* Makes all three elements inline */
        vertical-align: middle; /* Aligns them vertically in the middle */
    }

    ul.linkPagina li {
        white-space: nowrap; /* Impedisce il wrap dell'elemento */
        font-family: 'Roboto', sans-serif;
        font-size: 1.2vw;
        margin-right: 5vh; 
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    }
      
    
    nav[aria-label="breadcrumb"] {
        position: absolute;
        bottom: -5vh; /* Regola la distanza verticale dalla parte inferiore dell'header */
        /* Altri stili per la breadcrumb */
    }
  
    /* AAAAAAAAAAAAAA - Modifica e.g. searchBarRegistrati, searchButtonRegistrati */
    #searchBar {
        width: 35vw; 
        max-width: 40vw; 
        height: 4vh; 
        left: unset; 
        top: unset; 
        position: relative; 
        margin-right: 0; 
        margin-left: auto; 
    }
  
    header .bottoneHamburger {
        display: block;
    }
  
    header .linkPagina{
        display: none;
    }

    /*------------------------------CORPO PAGINA-------------------------------------------------------------------*/

    .rowProfiloEv .containerProfiloEv{
        flex-direction: row;
        align-items: center;
    }

    .descrizioneEventiT {
        font-size: 1.3em; /* Regola la dimensione del testo in modo da mantenerlo leggibile */
    }

    .descrizioneEventiD {
        font-size: 1.1em; /* Aumenta la dimensione del testo */
        overflow: hidden; /* Nasconde il testo che esce dalla carta */
        text-overflow: ellipsis; /* Aggiunge "..." per indicare che il testo è troncato */
        white-space: nowrap; /* Impedisce al testo di andare a capo */
    }
    
    .wrapper #menuleft {
        display: none;
    }

    #bread{
        margin-bottom: -0.5vh;
        font-size: 12px;
    }

    #menuCenter{
        margin-top: 10vh;
        display:block;
    }

    .menu-orizzontale {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
      }
      
      .menu-orizzontale li {
        margin-right: 1.5vw;
      }
      
      .menu-orizzontale li:first-child {
        margin-left: 0vw;
      }
      
      .menu-orizzontale a {
        display: inline-block;
        padding: 4px 8px; /* Riduci ulteriormente il padding */
        text-align: center;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: black;
        font-weight: bold;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        font-size: 3vw; /* Riduci ulteriormente la dimensione del testo */
        border: 1px solid black; /* Modifica lo spessore del bordo se necessario */
        border-radius: 3px; /* Regola la curvatura del bordo */
        transition: all 0.3s ease;
        margin-left:1.3vw;
        
      }
      
      .menu-orizzontale a:hover {
        background-color: black;
        color: white;
      }
      
      
    .bottonePlus, .bottoneProfilo{
        display: none;
    }

    #profile{
        margin-top: 2vh;
    }

}